/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-18-2017, 06:25:03 PM
    Author     : Jramos93
*/

body{
    background-color: #444;
    width: 1280px;
    margin: 0 auto;
    margin-top: 15px;
}

h1{
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
}

h3{
    text-align: center;
}

#principal{
    margin: 200px auto;
    width: 800px;
}

a{
    text-decoration: none;
    color: #fff;
}

#formLogin{
    width: 60%; 
    margin: 0 auto;
    color: #fff;
}

#formLogin>form>table{
    margin: 0 auto;
}

#top{
    background-color: #fff;
}

#imag{
    text-align: center;
}

#usuario{
    text-align: left;
}

#top>form>div>img{
    margin: 15px;
    width: 60%;
}

.ui-menubar {
    background: #023f62;
}
/*
.ui-menuitem-text{
    color: #fff ;
}

// Color de la lista de menu
.ui-menu .ui-menu-child{
    background: #444;
}

// Hover de menus
.ui-state-hover, .ui-widget-content .ui-state-hover{
    background: #0B6FA3 ;
}

.ui-widget-content a{
    color: #fff ;
}

.ui-widget-content li{
    color: #fff ;
}
*/
#content{
    background-color: #fff;
    min-height: 400px;
}

#bottom{
    height: 50px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    background: #023f62;
}

.ui-growl-item{
    color: #fff;
}